@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {
    min-height: 100vh;
    background-image: url(../images/headerBg.png);
    background-repeat: no-repeat;
    background-position: right 90%;
    background-size: 800px auto;
    &__top {
        max-width: 1300px;
        text-align: right;
        padding-top: 18px;
        position: relative;
        padding-right: 20px;
        &::before {
            content: '';
            position: absolute;
            width: 250px;
            height: 200px;
            background-image: url(../images/headerEllipse.svg);
            background-repeat: no-repeat;
            left: -10%;
            top: -120%;
        }
        &-phone {
            font-weight: 600;
            font-size: 30px;
            color: #000000;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                background-image: url(../images/phone.svg);
                left: -45px;
                top: 50%;
                width: 32px;
                height: 32px;
                background-repeat: no-repeat;
                transform: translateY(-50%);
            }
            &::before {
                position: absolute;
                content: '';
                width: 100%;
                right: 0;
                height: 2px;
                bottom: 0;
                background-color: #FFE6A1;
                z-index: -1;
                transition: all .3s;
            }
            &:hover {
                &::before {
                    height: 100%;
                }
                
            }
        }
    }
    &-block {
        display: block;
        text-align: left;
        margin-top: 41px;
        max-width: 565px;
        margin: 40px auto 0;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 205px;
            height: 182px;
            background-image: url(../images/headerHome.svg);
            left: -250px;
            top: 0;
        }
        &::after {
            content: '';
            position: absolute;
            width: 84px;
            height: 84px;
            background-image: url(../images/money.png);
            right: -110px;
            top: 40%;
        }
        &__title {
            font-weight: 700;
            font-size: 53px;
            line-height: 65px;
            color: #000000;
            margin-bottom: 10px;
            position: relative;
            span {
                color: #FAC9D6;
            }
            &::before {
                content: '';
                position: absolute;
                width: 91%;
                left: 5px;
                height: 15px;
                background-color: #FAC9D6;
                top: 30%;
                z-index: -1;
            }
        }
        &__text {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;       
            color: #000000;
            span {
                font-weight: 700;
            }
        }
    }
    &__menu {
        margin-top: 90px;
        padding-left: 50px;
        &-list {
            li  {
                margin-bottom: 15px;
                a {
                    color: #000;
                    font-weight: 500;
                    font-size: 26px;
                    line-height: 31px;
                }
                
            }
            li:last-child {
                margin-bottom: 0;
            }
        }
        &-btn {
            margin-top: 30px;
            position: relative;
            display: block;
            color: #000;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1px;
            font-size: 18px;
            text-decoration: none;
            background: transparent;
            border: 1px solid #ffc815;
            padding: 13px 35px;
            text-transform: uppercase;
            overflow: hidden;
            transition: 1s all ease;
            cursor: pointer;
            &::before {
                background: #ffc815;
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                transition: all 0.6s ease;
                width: 100%;
                height: 0%;
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &:hover {
                &::before {
                    height: 500%;
                }
            }
        }
    }
}

.price {
    margin-top: 120px;
    &__title {
        text-align: center;
        font-weight: 500;
        font-size: 40px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 15px;
    }
    &__text {
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
        font-size: 19px;
        line-height: 28px;
    }

    &__text {
        margin-bottom: 100px;
    }
    &__items {
        max-width: 550px;
        width: 100%;
    }
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &__right-block {
            min-width: 200px;
        }

        &__left-block{
            margin-bottom: 70px;
            span {
                font-weight: 700;
                font-size: 19px;
               
            }
        }
        &__counter {
            display: inline-block;
            margin-top: 20px;
            min-width: 100px;
            height: 40px;
            padding: 7px;
            border: 1px solid #E5E5E5;
            position: relative;
            button {
                width: 28px;
                height: 28px;
                border: none;
                border-radius: 50%;
                background-color: #fff;
                box-shadow: 0px 2px 5px rgba(11, 11, 15, 0.1);
                top: 50%;
                transform: translateY(-50%);
                transition: background .3s;
                cursor: pointer;

                &:hover {
                    background-color: #FFD17C;
                    box-shadow: 0px 5px 25px 2px rgba(0, 0, 0, 0.1);
                    color: white;
                }
            }
            .item-dec__btn {
                position: absolute;
                left: 5px;
               
            }

            span {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }

            .item-inc__btn {
                position: absolute;
                right: 5px;
            }
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &-check__block {
        max-width: 350px;
        width: 100%;
        height: 500px;
        background-color: #FAC9D6;
        padding: 30px;
        display: flex;
        flex-direction: column;
        form {
            button {
                display: block;
                width: 100%;
                padding: 10px 0;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                border: none;
                font-size: 18px;
                background-color: #FFD17C;
                cursor: pointer;
                color: #fff;
                transition: all .3s;
                &:hover {
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }
        &-title {
            font-weight: 600;
            font-size: 17px;
            line-height: 28px;   
            color: #000000;
            margin-bottom: 25px;
        }
    }

    &-check__items {
        flex: 1;
        overflow-y: scroll;
        margin-bottom: 30px;
        
    }

    &-check__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        &-text {
            font-weight: 600;
            font-size: 14px;
        }
    }

    &-check__total {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
    }
    
}

.item-name {
    font-weight: 500;
font-size: 19px;
line-height: 28px;
/* identical to box height, or 117% */

display: block;
color: #000000;
}

.phone__input {
    display: block;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid #ffffff;
    height: 35px;
    color: black;
    font-size: 19px;
    font-weight: 500;
    padding: 7px 14px;
    width: 100%;
    margin-bottom: 20px;
}

.modal__alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 10;
    transition: all .3s;
    transform: translateY(0);
    &-content {
        max-width: 550px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        background-color: #fff;
        padding: 50px 60px;

        h3{
            font-weight: 400;
            font-size: 30px;
            line-height: 40px;
                    
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
                    
            color: #161616;
        }
        p {
            color: #161616;
            font-size: 15px;
            line-height: 25px;
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 10;
    transition: all .3s;
    transform: translateY(0);
    &-content {
        max-width: 550px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        background-color: #fff;
        padding: 50px 60px;

        h3{
            font-weight: 400;
            font-size: 30px;
            line-height: 40px;
                    
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
                    
            color: #161616;
        }
        p {
            color: #161616;
            font-size: 15px;
            line-height: 25px;
        }
    }
}

.modal__hidden {
    transform: translateY(-200%)
}

.working {
    margin-top: 150px;
    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 28px;
        color: #000000;
        text-align: center;
        margin-bottom: 80px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-video {
            max-width: 550px;
        }
        &-content {
            max-width: 400px;
            width: 100%;
            &__item {
                display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            width: 100%;
           
            p {
                font-size: 19px;
                
            }
            }
        }
    }
}

.slider {
    background-image: url(../images/sliderBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding-top: 200px;
    &__item {
        img {
            max-width: 100%;
        }
    }
    &__content {
        display: flex;
        align-items: flex-end;
        max-width: 894px;
        margin: 0 auto;
        margin-bottom: 70px;
        min-width: 0;
    }
    .container {
        text-align: center;
    }
    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 25px;
    }

    &__text {
        font-size: 21px;
        line-height: 25px;
    }
}

.swiper {
    max-width: 950px;
}

.consultation {
    margin-top: 150px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../images/girltel.svg);
        width: 342px;
        height: 361px;
        background-repeat: no-repeat;
        top: -100px;
    }
    .container {
        text-align: center;
    }
    form {
        button {
            padding: 10px 45px;
            margin-left: 10px;
            font-size: 15px;
            font-weight: 300;
            background: #FEE3E7;
            border-radius: 4px;
            transition: all .3s;
            border:  none;
            cursor: pointer;
            &:hover {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
        input {
            padding: 0 15px;
            height: 40px;
            font-size: 17px;
            line-height: 28px;
            color: black;
            border: 4px solid #FED083;
            outline: none;
            &::placeholder{
                font-size: 17px;
                color: #90C5DC;
            }
            
        }
    }
    &__title {
     font-weight: 500;
    font-size: 40px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 45px;
    }
    p {
        text-align: left;
        margin: 30px auto 0;
        max-width: 700px;
    }
}

.footer{
    margin-top: 150px;
    background: rgba(254, 227, 231, 0.3);
    padding: 70px 0;
    &__btn {
        background: #FEE3E7;
        border-radius: 10px;
        padding: 16px 25px;
        text-transform: uppercase;
        color: black;
        letter-spacing: 0.1em;
        font-weight: 500;
        font-size: 11px;
    }
    &__email,
    &__phone{
        display: block;
        margin-bottom: 15px;
        position: relative;
        padding-left: 25px;
        &::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            
            left: 0;
            top: 0;
        }
    }

    &__email {
        background-image: url(../images/emailicon.svg);
        background-repeat: no-repeat;
    }

    &__phone {
        background-image: url(../images/phoneicon.svg);
        background-repeat: no-repeat;
        margin-bottom: 40px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        &-content {
            h3 {
                font-weight: 400;
                font-size: 46px;
                line-height: 28px;
                margin-bottom: 25px;
            }
            p {
                margin-bottom: 40px;
            }
        }
        &-contacts {
            h3 {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 15px;
            }
        }
    }
}


@import 'media';